<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="ua.in.leopard.androidCoocooAfisha"
      android:versionCode="1" android:versionName="1.0.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".androidCoocooAfisha"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    <activity android:name="About" android:label="@string/about_title" android:theme="@android:style/Theme.Dialog" android:icon="@drawable/icon"></activity>

<activity android:name="EditPreferences" android:label="@string/settings_title"></activity>
<activity android:label="@string/cinemas_title" android:name="Cinemas"></activity>
<activity android:name="Theaters" android:label="@string/theaters_title"></activity>

<service android:name="DataUpdateService" android:label="@string/auto_update_title" android:process=":remote"></service>
<activity android:name="Theater" android:theme="@android:style/Theme.NoTitleBar"></activity>
<activity android:name="Cinema" android:theme="@android:style/Theme.NoTitleBar"></activity>
</application>


<uses-sdk android:targetSdkVersion="7" android:minSdkVersion="7"></uses-sdk>


<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
</manifest> 